@import 'tailwindcss';

/* Eliminar scroll vertical y horizontal */
html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
